# Sensitive Data
.env
*.session
*.session-journal

# Compiled / Build
__pycache__/
*.pyc
build/
dist/

# IDE / Editor
.vscode/
.idea/

# Logs
*.log

# Virtual Env
venv/
env/

# Config & Data
config.json
targets.json
*.zip
TelegramForwarder.exe
TelegramForwarder.app/
TelegramForwarder_Package/
